@font-face {
  font-family: 'Eyesome Script';
  src: url('../../assets/fonts/Eyesome-Script.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$cursive: 'Eyesome Script', cursive;
$sans: 'Montserrat', sans-serif;