.container {
  max-width: 900px;
  margin: auto;
  padding: 0 5%;
}

@media (max-width: 960px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 500px;
  }
}